*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.nav_menu {
  display: flex;
  padding: 30px 20px;
  align-items: center;
}

.nav_menu .logo {
  margin:0 auto ;
}

.mobile_menu {
  display: none;
  flex-direction: column;
  width: 85%;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  background-color: #272a31;
  opacity: 0.95;
}

.mobile_menu .close_button {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  border-top: solid 1px #d3d3d31a;
}

.mobile_menu .mob_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: solid 1px #d3d3d31a;
}

.mobile_menu .mob_div:last-child {
  border-bottom: solid 1px #d3d3d31a;
}

.mob_div a {
  font-size: 1em;
  color: #fff;
  font-weight: 400;
}

.mob_div .red {
  background-color: #ec5242;
  padding: 20px;
}

.desktop_menu,
.top_menu {
  display: none;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  text-align: center;
  background-color: #d3d3d33f;
}

.main_heading {
  font-size: 1em;
  color: #ec5242;
  line-height: 1.6;
  font-weight: 100;
}

.introduction .intro {
  font-size: 1em;
  padding:30px 0;
}

.intro span {
  color: #ec5242;
}

.introduction .explanation {
  display: flex;
  flex-direction: column;
  border: solid 1px #272a3121;
  background-color: #fff;
  padding: 20px 10px;
  text-align: left;
}

.details ,
.logo_contest {
  line-height: 1.6;
  font-size: 0.9em;
  font-weight: 300;
}

.explanation .dates {
  font-weight: 700;
  font-size: 1.1em;
  text-align: center;
  justify-content: center;
  margin: 20px 0;
}

.introduction h5 {
  font-size: 0.7em;
  font-weight: 300;
  padding: 40px 0 30px 0;
  border-bottom: solid 2px #777474;
  margin-bottom: 10px;
}

.center {
  border-bottom: solid 1px #272a3121;
}

.center ,
.past_events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:0 20px;
}

.top_intro {
  font-size: 1.6em;
  text-align: center;
  padding: 40px 0 30px 0;
  font-weight: 300;
}

.top_intro::after {
  content: '';
  display: block;
  margin: 10px auto;
  width: 2.5em;
  height: 1px;
  background: #ec5242;
}

.logo_image {
  margin: 40px 0;
}

.logo_image img ,
.past_events_img img {
  width: 100%;
  height: auto;
}

.logo_contest {
  padding-bottom: 20px;
}

.past_events h2 {
  font-size: 1.2em;
  text-align: center;
  padding: 40px 0;
}

.past_events h2::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 10px auto;
  background: #ec5242;
}

.past_events h3 {
  line-height: 1.6;
  font-size: 0.9em;
  font-weight: 300;
  padding: 30px 0;
  text-align: center;
}

.past_events_img {
  margin-bottom: 60px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #272a31;
}

footer p {
  text-align: center;
  color: #fff;
}

footer p ,
.footer_img {
  padding: 20px;
}

@media only screen and (min-width: 786px) {
  .hamburger ,
  .mobile_menu {
    display: none;
  }

  .top_menu {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: #272a31;
    color: #fff;
  }

  .top_menu > * {
    margin-left: 20px;
  }

  .top_menu .span {
    margin-right: 100px;
  }

  .nav_menu .desktop_menu {
    display: flex;
    list-style: none;
    width: 70%;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 1.3em;
    color: #d3d3d3;
  }

  .desktop_menu > * {
    padding: 0 40px;
  }
}